In [68]:
import numpy as np
import pandas as pd

In [69]:
df = pd.read_csv('tips.csv')

In [70]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [71]:
df1 = df.copy()
df2 = df.copy()
df3 = df.copy()
df4 = df.copy()

In [72]:
#### Encoding
# Leabel encoding
# Ordinal encoding
# onehot encoding
# get_dummies

In [73]:
from sklearn.preprocessing import LabelEncoder

In [74]:
le = LabelEncoder()

In [75]:
df1.sex = le.fit_transform(df1.sex)
df1.smoker = le.fit_transform(df1.smoker)
df1.day = le.fit_transform(df1.day)
df1.time = le.fit_transform(df1.time)

In [76]:
####################

In [77]:
data = ['sex', 'smoker', 'day', 'time']

In [78]:
from sklearn.preprocessing import OrdinalEncoder

In [79]:
oe = OrdinalEncoder()

In [80]:
# trans_data = oe.fit_transform(df2)

In [81]:
# pd.DataFrame(trans_data, columns=df2.columns).head()

In [82]:
df2.time.value_counts()

time
Dinner    176
Lunch      68
Name: count, dtype: int64

In [83]:
oe = OrdinalEncoder(categories=[
    ['Male', 'Female'],
    ['No', 'Yes'],
    ['Sat', 'Sun', 'Thur', 'Fri'],
    ['Dinner', 'Lunch']
])

In [84]:
df2[data] = oe.fit_transform(df2[data])

In [85]:
df2.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01  1.0     0.0  1.0   0.0     2
1       10.34  1.66  0.0     0.0  1.0   0.0     3
2       21.01  3.50  0.0     0.0  1.0   0.0     3
3       23.68  3.31  0.0     0.0  1.0   0.0     2
4       24.59  3.61  1.0     0.0  1.0   0.0     4

In [86]:
#######################

In [87]:
from sklearn.preprocessing import OneHotEncoder

In [88]:
ohe = OneHotEncoder(sparse_output=False)

In [89]:
trans_ohe = ohe.fit_transform(df3[data]) # toarray()

In [90]:
sos = pd.DataFrame(trans_ohe, columns=ohe.get_feature_names_out(data))

In [91]:
df_final = pd.concat([df.drop(columns=data), sos], axis=1)
df_final

,total_bill,tip,size,sex_Female,sex_Male,smoker_No,smoker_Yes,day_Fri,day_Sat,day_Sun,day_Thur,time_Dinner,time_Lunch
0,16.99,1.01,2,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,10.34,1.66,3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,21.01,3.50,3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,23.68,3.31,2,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,24.59,3.61,4,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,3,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
240,27.18,2.00,2,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
241,22.67,2.00,2,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
242,17.82,1.75,2,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
243,18.78,3.00,2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

In [92]:
###########################

In [93]:
si = pd.get_dummies(df4, columns=data).astype(int)

In [94]:
si

,total_bill,tip,size,sex_Female,sex_Male,smoker_No,smoker_Yes,day_Fri,day_Sat,day_Sun,day_Thur,time_Dinner,time_Lunch
0,16,1,2,1,0,1,0,0,0,1,0,1,0
1,10,1,3,0,1,1,0,0,0,1,0,1,0
2,21,3,3,0,1,1,0,0,0,1,0,1,0
3,23,3,2,0,1,1,0,0,0,1,0,1,0
4,24,3,4,1,0,1,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,29,5,3,0,1,1,0,0,1,0,0,1,0
240,27,2,2,1,0,0,1,0,1,0,0,1,0
241,22,2,2,0,1,0,1,0,1,0,0,1,0
242,17,1,2,0,1,1,0,0,1,0,0,1,0
243,18,3,2,1,0,1,0,0,0,0,1,1,0

In [95]:
from sklearn.compose import ColumnTransformer

In [96]:
preprocessor = ColumnTransformer(
    transformers=[
        ('onehot', OneHotEncoder(sparse_output=False, drop=None), data)
    ]
)

In [97]:
preprocessor

ColumnTransformer(transformers=[('onehot', OneHotEncoder(sparse_output=False),
                                 ['sex', 'smoker', 'day', 'time'])])

In [98]:
transformed_data = preprocessor.fit_transform(df)

In [99]:
sos = pd.DataFrame(transformed_data, columns=ohe.get_feature_names_out(data))

In [100]:
sos

,sex_Female,sex_Male,smoker_No,smoker_Yes,day_Fri,day_Sat,day_Sun,day_Thur,time_Dinner,time_Lunch
0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
239,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
240,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
241,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
242,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
243,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

In [101]:
#############################

In [102]:
from sklearn.preprocessing import FunctionTransformer

In [103]:
def my_scaler(sos):
    return sos/np.max(sos)

In [104]:
colum_tran = FunctionTransformer(my_scaler)

In [105]:
colum_tran.transform(sos).describe()

,sex_Female,sex_Male,smoker_No,smoker_Yes,day_Fri,day_Sat,day_Sun,day_Thur,time_Dinner,time_Lunch
count,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000
mean,0.356557,0.643443,0.618852,0.381148,0.077869,0.356557,0.311475,0.254098,0.721311,0.278689
std,0.479967,0.479967,0.486667,0.486667,0.268516,0.479967,0.464049,0.436248,0.449276,0.449276
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [106]:
#########################

In [107]:
from sklearn.impute import SimpleImputer

In [108]:
# Agar aap kisi dataset ke missing values ko mean se replace karna chahte hain

In [114]:
data1 = {'A': [1, 2, None, 4], 'B': [None, 5, 6, 7]}
df11 = pd.DataFrame(data1)

In [115]:
df11

     A    B
0  1.0  NaN
1  2.0  5.0
2  NaN  6.0
3  4.0  7.0

In [116]:
imputer = SimpleImputer(strategy='mean')

In [119]:
df_imputed = pd.DataFrame(imputer.fit_transform(df11), columns=df11.columns)

In [120]:
np.round(df_imputed, 1)

     A    B
0  1.0  6.0
1  2.0  5.0
2  2.3  6.0
3  4.0  7.0

In [163]:
#########################